body
{
	background-color: #333;
	font-size: 100%;
	font-family: Verdana, Arial;
	margin: 0;
}
a
{
	text-decoration: none;
}
.contenedor-prin
{
	background-color: #ddd;
	box-shadow: #000 0 0 1em;
	margin: 0 auto;
	width:80%;
}

header
{
	background:url(../img/bg1.png);
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center; 
	color: #fff;
	padding: 2em;
}
nav
{
	background-color: #333;
}

nav ul
{
	box-shadow: #000 0 0 1em inset;
	list-style: none;
	margin: 0;
	padding: 1em .4em;

}

nav ul li
{
	display: inline-block;
}

nav ul li a
{
	color: #fff;
	padding: 1em;
	margin: 0 0 0 -.4em;
}
nav ul li a:hover
{
	background-color: #111;
}
aside
{
	display: inline-block;
	max-width: 33%;
	vertical-align: top;
}
article
{
	display: inline-block;
	margin: 1em 0;
}
.contenedor-centro
{
	display: inline-block;
	max-width: 66%;
}
section
{
	border-bottom: #bbb thin solid;
	margin: 2em;
}
img
{
	width: 100%;
	max-height: auto;
}
article #imagen,
article #texto
{
	float: left;
	margin-right: 1em;
	
}
article #imagen
{
	margin-top: 1em;
	width: 35%;
}
article #texto
{
	width: 65%;
}

aside article #imagen
{
	margin-top: -1em;
	margin-bottom: 1em;
	width: 100%;
}


footer
{
	border-top: #aaa thin solid;
	height: 4em;
	text-align: center;
}
footer a:hover
{
	color:#666;
}

@media only screen and (max-width: 920px){
	
	.contenedor-prin,
	.contenedor-centro,
	aside
	{
		min-width: 100%;
	}
	
	header
	{
		background-size:auto;
		background-position: -200px; 
		margin: 0 auto;
		/*text-align: center;*/
	}

	nav ul
	{
		margin: 0 auto;
		text-align: center;
		padding: 0;

	}

	nav ul li
	{
		margin: 1em;
	}

}
